
.food{
    position: relative;
  width: 1603px;
  height: 1091px;
  
  background: #98DF60;
  }
  .pagge{
    position: absolute;
  width: 1500px;
  height: 965px;
  left: 51px;
  top: 63px;
  
  
  position: absolute;
  width: 1500px;
  height: 965px;
  left: 51px;
  top: 63px;
  
  background: rgba(255, 255, 255, 0.1);
  
  }
  .Vector{
    position: absolute;
  left: 80.47%;
  right: 17.71%;
  top: 12%;
  bottom: 88.73%;
  
  
  }
  .rect{
    position: absolute;
    width: 1495px;
    height: 1036px;
    left: 13px;
    top: 9px;
  }
  .rect-1{
    /* Rectangle 2 
  
    position: absolute;
    width: 1495px;
    height: 1036px;
    left: 18px;
    top: 9px;
  
  background: url(rectt.png);
  border-radius: 224px;
  */
  position: absolute;
  }
  .desk{
    position: absolute;
    width: 1495px;
    height: 1036px;
    left: 13px;
    top: 9px;
    
    background: rgba(232, 240, 216, 0.9);
    border-radius: 100px;
  }
  h2{
    position: absolute;
  width: 205px;
  height: 62px;
  left: 60px;
  top: 75px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;
  
  color: #2A770F;
  }
  .Home{
    position: absolute;
  width: 101px;
  height: 47px;
  left: 459px;
  top: 84px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  /* identical to box height */
  
  
  color: #000000;
  }
  #navbarNav{
    position: absolute;
  width: 82px;
  height: 42px;
  left: 618px;
  top: 88px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */
  
  
  color: #686363;
  
  }
  #menu {
    position: absolute;
  width: 82px;
  height: 42px;
  left: 618px;
  top: 88px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */
  
  
  color: #686363;
  }
  
  #abt{
    position: absolute;
  width: 137px;
  height: 42px;
  left: 758px;
  top: 88px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */
  
  
  color: #686363;
  }
  
  #cont{
    position: absolute;
    width: 121px;
    height: 42px;
    left: 953px;
    top: 88px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */
    
    
    color: #686363;
  }
  
  #sign {
    position: absolute;
  width: 112px;
  height: 42px;
  left: 1309px;
  top: 88px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  /* identical to box height */
  
  
  color: #686363;
  }
  
  #txt{
    
  position: absolute;
  width: 586px;
  height: 375px;
  left: 60px;
  top: 180px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 125px;
  
  color: #2A770F;
  }
  
  .txt{
    position: absolute;
  width: 738px;
  height: 141px;
  left: 60px;
  top: 599px;
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  
  color: #3A3A3A;
  }
  
  .pic{
    position: absolute;
  width: 226.1px;
  height: 140.65px;
  left: 721.49px;
  top: 811.65px;
  
  background: url(pic.png);
  
  }
  
  #pic{
    position: absolute;
  width: 504px;
  height: 524px;
  left: 112px;
  top: -590px;
  
  background: url(Ellipse.png), #D9D9D9;
  border-radius: 250px;
  }
  
  #pic1{
    position: absolute;
    width: 276.1px;
    height: 192.88px;
    left: 350px;
  top: 0px;
    
    background: url(pic1.png);
    transform: rotate(15.29deg);
  }
  
  .but{
    position: absolute;
  width: 260px;
  height: 88.47px;
  left: -821.49px;
  top: 911.65px;
  transform: rotate(-15deg);
  
  }
  .butt{
    position: absolute;
  width: 223px;
  height: 43px;
  left: -790.49px;
  top: 891.65px;
  transform: rotate(-15deg);
  
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 47px;
  color: #FFFFFF;
  }
  #but{
    position: absolute;
  width: 260px;
  height: 88.47px;
  left: -821.49px;
  top: 911.65px;
  transform: rotate(-15deg);
  
  background: #3A9B17;
  border-radius: 10px;
  }
  .foot{
    background-color: aqua;
    left: -821.49px;
    top: 911.65px;
    width: 100%;
    height: 40px;
  }
